/.InitialStatesProcessor.java._trace
/.InitialStatesQuerySpecification.java._trace
/.VariablesProcessor.java._trace
/.VariablesQuerySpecification.java._trace
/InitialStatesProcessor.java
/InitialStatesQuerySpecification.java
/VariablesProcessor.java
/VariablesQuerySpecification.java
