/.InitialStatesMatch.java._trace
/.InitialStatesMatcher.java._trace
/.Queries.java._trace
/.VariablesMatch.java._trace
/.VariablesMatcher.java._trace
/InitialStatesMatch.java
/InitialStatesMatcher.java
/Queries.java
/VariablesMatch.java
/VariablesMatcher.java
